* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Courier New", Courier, monospace;
}
.chat-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
}
.other {
  align-self: flex-start;
}
.message {
  display: flex;
}
.message img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  margin-top: 15px;
}
.message p {
  border-radius: 10px;
  word-wrap: break-word;
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
}
.self {
  align-self: flex-end;
}

.self p {
  background-color: #dcf8c6;
}
.loding p {
  background: transparent !important;
}
.loding img {
  margin-top: 0px;
}
.loding p span {
  width: 2px;
  height: 2px;
  background: #3fb566;
  border-radius: 50%;
  display: inline-block;
}

.input-container {
  display: flex;
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 10px 10px 30px 10px;
}

input[type="text"] {
  flex: 1;
  padding: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

button {
  padding: 14px 25px;
  border: none;
  border-radius: 5px;
  background-color: #3fb566;
  color: white;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .message-container {
    flex: 1 0 50%;
  }
}

.loding {
  display: flex;
  align-items: center;
}

.loading {
  display: flex;
  margin-left: 10px;
}
.loading .dot {
  position: relative;
  width: 0.2em;
  height: 0.2em;
  margin: 0.5em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #838583;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #838583;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #838583;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #838583;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #838583;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}
